<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio - Tienda en Línea</title>
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="assets/icons/chanza_logo.png" alt="Logo de la tienda">
        </div>
        <div class="header-links">
            <a href="login.html">
                <img src="assets/icons/usuario.png" alt="Icono de login">
            </a>
            <a href="">
                <img src="assets/icons/carrito.png" alt="Icono de carrito">
            </a>
        </div>
    </header>
    

    <div class="carousel">
        <!-- Carrusel de productos para masking -->
        <h2>Productos para Masking</h2>
        <div class="product-row">
            <!-- Primer fila del carrusel -->
            <div class="product"><a href="productos-para-masking.html"><img src="producto1.png" alt="Producto 1"></a></div>
            <div class="product"><a href="productos-para-masking.html"><img src="producto2.png" alt="Producto 2"></a></div>
            <div class="product"><a href="productos-para-masking.html"><img src="producto3.png" alt="Producto 3"></a></div>
        </div>
        <!-- Botón de avance del carrusel -->
        <a href="productos-para-masking.html"><img src="assets/icons/flecha-derecha.png" alt="Avanzar"></a>

        <!-- Carrusel de calzado -->
        <h2>Calzado</h2>
        <div class="product-row">
            <!-- Primer fila del carrusel -->
            <div class="product"><a href="calzado.html"><img src="calzado1.png" alt="Calzado 1"></a></div>
            <div class="product"><a href="calzado.html"><img src="calzado2.png" alt="Calzado 2"></a></div>
            <div class="product"><a href="calzado.html"><img src="calzado3.png" alt="Calzado 3"></a></div>
        </div>
        <!-- Botón de avance del carrusel -->
        <a href="calzado.html"><img src="assets/icons/flecha-derecha.png" alt="Avanzar"></a>
    </div>

    <footer>
        <div class="footer-logo">
            <img src="assets/icons/chanza_icono.png" alt="Logo de la tienda">
        </div>
    </footer>
</body>
</html>
