<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="assets/css/login.css">
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img src="assets/icons/chanza_logo.png" alt="Logo">

        <div class="header__icons-container">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </header>
    <form id="loginForm" class="form" action="UserService.php" method="post">
        <img src="./assets/icons/background-login.png">

        <div class="form__inputs">
            <h1 class="form__h1">INICIAR SESIÓN</h1>

            <input type="text" name="username" id="txtUsuario" placeholder="Usuario">
            <input type="password" name="password" id="txtPassword" placeholder="Contraseña">
            <a href="#" class="first-link">¿Olvidó su contraseña?</a>

            <button type="submit">¡Ingresar ahora!</button>

            <a href="crearcuenta.html" class="last-link">Registrese aquí</a>
        </div>
        <input type="hidden" name="action" value="login">
    </form>

    <script src="login.js"></script>
</html>
