<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanza Online | Página de inicio</title>
    <link rel="stylesheet" href="assets/css/productosmasking.css">
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img src="./assets/icons/chanza_logo.png" alt="Logo"
                style="width: 100px; height: 60px;"></a>
        <div class="header__icons-container">
            <a href="./usuarios-registrados.html" class="btn"><i class="fa-solid fa-chart-simple"></i></a>
            <a href="./productos-mas-vendidos.html" class="btn"><i class="fa-solid fa-chart-pie"></i></a>
            <a href="./inventory.html" class="btn"><i class="fa-solid fa-table-list"></i></a>
            <a href="./ventas.html" class="btn"><i class="fa-solid fa-check-square"></i></a>
            <a href="./ventas-grafica.html" class="btn"><i class="fa-solid fa-chart-line"></i></a>
            <a href="./shopping-car.html" class="btn1"> <i class="fa-solid fa-cart-shopping"></i></a>
            <a id="btnMiPerfil"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </header>

    <section class="carousel">
        <h2 style="font-weight: bold;">Productos Masking</h2>
        <section class="products-container">
            <div class="products-container__row" id="contenedorVapes"></div>

        </section>
        

    <script src="assets/js/productos-masking.js" type="module"></script>
    <script src="./assets/js/permisos.js" type="module"></script>
    <script src="./assets/js/btnperfil.js" type="module"></script>

</body>
</html>
