<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="assets/css/registro_exitoso.css">
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="header">
        <a href="/ChanzaShop/App/"><img src="assets/icons/chanza_logo.png" alt="Logo" style="width: 100px; height: 60px;"></a> 

        <div class="header__icons-container">
            <a href="shopping-car.html"> <i class="fa-solid fa-cart-shopping"></i></a>
            <a href="login.html" class="button-blue">Iniciar Sesión</a> <!-- Botón de inicio de sesión -->
        </div>
    </header>
    <div class="form">
        <img src="assets/icons/background-login.png">

        <div class="form__inputs">
            <h1 class="form__h1">REGISTRO EXITOSO</h1>
            <p>Felicidades, tu cuenta ha sido creada con éxito.</p>
            <a href="login.html">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>
