<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Car</title>
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/carrito-compras.css">
</head>
<body>
    <header class="header">
        <a href="/ChanzaShop/App/"><img src="assets/icons/chanza_logo.png" alt="Logo" style="width: 100px; height: 60px;"></a>    

        <div class="header__icons-container">
            <a href="shopping-car.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="login.html"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </header>
    <div class="container">
        <h2 class="title"><i class="fa-solid fa-cart-shopping"></i> Mis Productos</h2>
        <section class="order-info">
            <div class="order-info-container">
                <b>Subtotal:</b><b id="lblSubTotal">$0.00</b>
            </div>
            <div class="order-info-container">
                <b>Precio de entrega:</b><b id="lblPrecioEntrega">$0.00</b>
            </div>
            <div class="order-info-container">
                <b>Total:</b><b id="lblTotal">$0.00</b>
            </div>
            <div class="order-button-container">
                <button class="order-button-container__button">Cancelar compra</button>
                <button class="order-button-container__button">Realizar compra</button>
            </div>
        </section>
        <div class="anuncio">
            Importante: <br>
            <br>
            Por el momento no contamos con pago con tarjeta. Por lo tanto todos los pagos deberan ser en efectivo.
        </div>
        <div class="order-container" id="pnlOrderContainer">
            <div class="product-container">
                <img>
                <h3 id="NombreProducto">NombreProducto</h3>
                <div class="product-container__attribute-container">
                    <div class="product-container__attribute">Cantidad: <i class="fa-solid fa-circle-minus"></i> <b id="contador">0</b> <i class="fa-solid fa-circle-plus"></i></div>
                    <div class="product-container__attribute">Precio: <b id="lblPrecio">$0.00</b></div>
                </div>

                <button class="product-container__button" id="btnNombreProducto"><i class="fa-solid fa-trash-can"></i> Eliminar</button>
            </div>
            <div class="product-container">
                <img>
                <h3 id="NombreProducto">NombreProducto</h3>
                <div class="product-container__attribute-container">
                    <div class="product-container__attribute">Cantidad: <i class="fa-solid fa-circle-minus"></i> <b id="contador">0</b> <i class="fa-solid fa-circle-plus"></i></div>
                    <div class="product-container__attribute">Precio: <b id="lblPrecio">$0.00</b></div>
                </div>

                <button class="product-container__button" id="btnNombreProducto"><i class="fa-solid fa-trash-can"></i> Eliminar</button>
            </div>
            <div class="product-container">
                <img>
                <h3 id="NombreProducto">NombreProducto</h3>
                <div class="product-container__attribute-container">
                    <div class="product-container__attribute">Cantidad: <i class="fa-solid fa-circle-minus"></i> <b id="contador">0</b> <i class="fa-solid fa-circle-plus"></i></div>
                    <div class="product-container__attribute">Precio: <b id="lblPrecio">$0.00</b></div>
                </div>

                <button class="product-container__button" id="btnNombreProducto"><i class="fa-solid fa-trash-can"></i> Eliminar</button>
            </div>
        </div>
    </div>
<body>
</html>