<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanza Online | Ver producto</title>
    <link rel="stylesheet" href="./assets/css/mostrarproducto.css">
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header">
        <img src="./assets/icons/chanza_logo.png" alt="Logo">

        <div class="header__icons-container">
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="./login.html"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </header>

    <section class="product-container">
        <img alt="producto">

        <div id="infoProducto"></div>
    </section>

    <footer>
        <img src="./assets/icons/chanza_icono.png" alt="Logo de la tienda">
    </footer>
</body>
</html>