<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanza Online | Ver producto</title>
    <link rel="stylesheet" href="./assets/css/mostrarproducto.css">
    <script src="https://kit.fontawesome.com/f8571caff0.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header">
        <a href="../index.html"><img src="./assets/icons/chanza_logo.png" alt="Logo" style="width: 100px; height: 60px;"></a> 
        <div class="header__icons-container">
            <a href="./usuarios-registrados.html" class="btn"><i class="fa-solid fa-chart-simple"></i></a>
            <a href="./productos-mas-vendidos.html" class="btn"><i class="fa-solid fa-chart-pie"></i></a>
            <a href="./inventory.html" class="btn"><i class="fa-solid fa-table-list"></i></a>
            <a href="./shopping-car.html" class="btn1"> <i class="fa-solid fa-cart-shopping"></i></a>
            <a id="btnMiPerfil"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </header>

    <section class="product-container">
        <img alt="producto">

        <div id="infoProducto"></div>
    </section>

    <footer>
        <img src="./assets/icons/chanza_icono.png" alt="Logo de la tienda">
    </footer>
    <script src="View/assets/js/permisos.js" type="module"></script>

</body>

</html>