@import url('./base/reset-syle.css');
@import url('./header.css');
@import url('./footer.css');

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 12.2% max-content 20.31%;
}

.carousel {
    margin: 20px auto;
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel > h2 {
    font-size: 1.2em;
}


